**/.git
**/.github
.gitignore

*.o
*.a

bin/teep/teep_cose_tam
bin/teep/teep_cose_trustanchor
bin/suit/suit_manifest_sign_trustanchor
bin/suit/suit_manifest_sign_delegate

teep/*.teep
suit/*.suit
signed_diag/*.diag
untagged_suit/*.suit
untagged_diag/*.diag

cbor/suit_delegation.cbor
cbor/suit_integrated.cbor
cbor/suit_manifest_aes_kw.cbor
cbor/suit_manifest_aes_kw_content.cbor
cbor/suit_manifest_aes_kw_dependent.cbor
cbor/suit_manifest_dependency.cbor
cbor/suit_manifest_expS0.cbor
cbor/suit_manifest_expS1.cbor
cbor/suit_manifest_expS2.cbor
cbor/suit_manifest_expS3.cbor
cbor/suit_manifest_expS4.cbor
cbor/suit_manifest_raw.cbor
cbor/suit_personalization.cbor
cbor/suit_uri.cbor

diag/suit_helloworld.diag
diag/teep_update_example1.diag
diag/teep_update_example3.diag
diag/teep_update_uri.diag
diag/teep_update_integrated.diag
diag/teep_update_personalization.diag
diag/teep_update_helloworld.diag

